.order{
    width:100%;
    margin: 80px 0;
    height: max-content;
    margin-top: 96px;
}

.order .container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: max-content;
}

.order .title{
    color: #0B0D17;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.order .title span{
 color: #FF914D;
}

.order .accordionItem span button{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    background: #ead2ae;
    color: #ad4b0f;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    border: none;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.order .accordionItem span button:hover{
    background-color: #ad4b0f;
    color: #ead2ae;
}

.order .error{
    font-size: 30px;
}

.order .order-cover{
    width: 100%;
    height: max-content;
}

.order .accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.order .accordionItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    position: relative;
    border-bottom: 1px solid #9D9EA2;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.order .accordionItem.active {
    border-radius: 7px;
    border: 1px solid #CCEEE9;
    background: #F2FBF9;
    box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.14);
}

.order .accordionItem.active >img {
    transform: rotate(0deg);
}

.order .accordionItem >img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 30px;
    right: 20px;
    transform: rotate(180deg);
    transition: .3s all ease-in-out;
}

.order .accordionItem span {
    width: 90%;
    color: #6D6E74;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.order .accordionItem p {
    width: 100%;
    display: flex;
    gap: 10px;
    color: #9D9EA2;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    height: 0px;
    transition: .3s all ease-in-out;
    overflow: hidden;
}

.order .accordionItem.active p {
    height: max-content;
}

.order .accordionItem p .img{
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order .accordionItem p .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}