.discover {
    width: 100%;
    margin-top: 96px;
    height: calc(100vh - 96px);
    background: #F2FBF9;
}

.discover .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    gap: 27px;
}

.discover .content {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.discover .content h3 {
    color: #24252E;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}

.discover .content h3>span {
    color: #FF914D;
}

.discover .content>span {
    color: #3C3D45;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
}

.discover .content a {
    border-radius: 10px;
    background: #00A991;
    padding: 30px 85px;
    width: max-content;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 35px;
    text-align: center;
}

.discover .img {
    width: 48%;
    height: 100%;
}

.discover .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shoppingCart {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.shoppingCart .container {
    width: 80%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.shoppingCart .container>.right {
    width: 29%;
}

.shoppingCart .container>.left {
    width: 68%;
}

.orderSum {
    width: 100%;
    padding: 34px 30px;
    border-radius: 20px;
    background: #F2FBF9;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: max-content;
}

.orderSum .title {
    text-transform: capitalize;
    color: #24252E;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.orderSum .cartDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.orderSum li,
.orderSum .total {
    color: #6D6E74;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderSum .deliveryBtns {
    width: 100%;
    border-radius: 6px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.orderSum button,
.orderSum .paymentAddress {
    cursor: pointer;
    transition: .3s all ease-in-out;
    border: none;
}

.orderSum .deliveryBtns .btn {
    border-radius: 6px;
    color: #6D6E74;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: transparent;
    padding: 11px 14px;
    width: max-content;
}

.orderSum .deliveryBtns .btn.active,
.orderSum .deliveryBtns .btn:hover {
    color: #FFF;
    background: #3C3D45;
}

.orderSum .paymentAddress {
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    background: #CECFD1;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.orderSum .paymentAddress.active {
    background-color: #00A991;
}

.customerInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.customerInfo .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.customerInfo .head h3 {
    color: #24252E;
    font-size: 32px;
    font-weight: 600;
}

.customerInfo .head>span {
    color: #FF914D;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.customerInfo .customer,
.deliveryAddress,
.billingAddress,
.cartOrder,
.paymentMethod {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-top: 1px solid #E7E7E8;
}

.customerInfo .title,
.deliveryAddress .title,
.billingAddress .title,
.cartOrder .title,
.paymentMethod .title {
    color: #3C3D45;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.customerInfo .customer .info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.customerInfo .customer .info .currentInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.customerInfo .customer .currentInfo .context {
    width: 75%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.customerInfo .customer .currentInfo .context .img {
    width: 104px;
    height: 109px;
}

.customerInfo .customer .currentInfo .context .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.customerInfo .customer .currentInfo .context .nameEmail {
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
}

.customerInfo .customer .nameEmail span:first-of-type {
    color: #3C3D45;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.customerInfo .customer .nameEmail span:last-of-type,
.deliveryAddress .address {
    color: #3C3D45;
    font-size: 18px;
    font-weight: 400;
}

.customerInfo .change,
.billingAddress .change,
.cartOrder .change {
    padding: 19px 50px;
    border-radius: 5px;
    background: #CCEEE9;
    color: #00A991;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.customerInfo .customer .info .changeForm {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.customerInfo .customer .info .changeForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}

.customerInfo .customer .changeForm .inps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.customerInfo .customer .changeForm .inps .inp {
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customerInfo .customer .changeForm .inps .inp label {
    color: #6D6E74;
    font-size: 18px;
    font-weight: 400;
}

.customerInfo .customer .changeForm .inps .inp input {
    border-radius: 6px;
    border: 1px solid #6D6E74;
    padding: 15px 18px;
    outline: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.customerInfo .customer .changeForm .inps .inp input::placeholder {
    color: #6D6E74;
}

.customerInfo .customer .changeForm .submit,
.deliveryAddress .save,
.billingAddress .save {
    border-radius: 10px;
    background: #00A991;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: max-content;
    padding: 15px 40px;
}

.hidden {
    display: none !important;
}

.visible {
    display: flex !important;
}

.deliveryAddress .customerAddress {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.deliveryAddress .customerAddress .address {
    width: 75%;
}

.deliveryAddress .customerAddress .edit {
    padding: 15px 56px;
    border-radius: 5px;
    background: #FF914D;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.deliveryAddress .addAddress {
    color: #FF914D;
    font-size: 18px;
    font-weight: 500;
}

.deliveryAddress .editForm,
.deliveryAddress .editAddress form,
.billingAddress .newBillingAddress {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-end;
}

.deliveryAddress textarea,
.billingAddress textarea {
    width: 100%;
    resize: none;
    border-radius: 6px;
    border: 1px solid #6D6E74;
    height: 100px;
    padding: 15px 18px;
    outline: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;

}

.deliveryAddress .row,
.cartOrder .closeOrder,
.cartOrder .openOrder {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.deliveryAddress .row .newAddress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deliveryAddress .editAddress,
.billingAddress .form {
    width: 100%;
}

.billingAddress .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.billingAddress .sameAddress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.billingAddress .sameAddress .inp {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.billingAddress .sameAddress .inp input {
    appearance: none;
    border-radius: 3px;
    border: 1px solid #CECFD1;
    background: #F3F3F3;
    width: 20px;
    height: 20px;
}

.billingAddress .sameAddress .inp input:checked {
    background-color: #00A991;
    border: 1px solid #00A991;
    background-image: url('../../../public/images/Mark.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

.billingAddress .sameAddress label,
.billingAddress .sameAddress p {
    color: #3C3D45;
    font-size: 18px;
    font-weight: 400;
}

.cartOrder .head,
.cartOrder .closeOrder .cover,
.paymentMethod .closeItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartOrder .closeOrder .items,
.paymentMethod .closeItem>span {
    color: #3C3D45;
    font-size: 18px;
    font-weight: 400;
}

.cartOrder .openOrder .head .items {
    color: #3C3D45;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.cartOrder .products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 30px;
    border-radius: 24px;
    background: #FFF4ED;
    position: relative;
    gap: 20px;
}

.cartOrder .products .product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cartOrder .products .closeBtn {
    position: absolute;
    top: 26px;
    right: 30px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.cartOrder .products .product .img {
    width: 22%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartOrder .product .img img {
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.cartOrder .product .content {
    width: 76%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.cartOrder .product .content .name {
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #24252E;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.cartOrder .product .content .color {
    color: #24252E;
    font-size: 18px;
    font-weight: 400;
}

.cartOrder .priceShipping {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartOrder .price {
    color: #24252E;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.cartOrder .shipping {
    width: max-content;
    border-radius: 6px;
    border: 1px solid #FFBD94;
    background: #FFE9DB;
    padding: 15px 25px;
    color: #FF914D;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.cartOrder .rating {
    display: flex;
    align-items: center;
    gap: 17px;
}

.cartOrder .starts {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cartOrder .starts img {
    width: 20px;
    height: 20px;
}

.cartOrder .review {
    color: #B6B6B9;
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.cartOrder .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartOrder .bottom .removeBtn {
    color: #FF914D;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.cartOrder .qty {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartOrder .qty>div {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.cartOrder .qty>.plusBtn {
    background: #00A991;
}

.cartOrder .qty .minusBtn {
    background: #FF914D;
}

.cartOrder .qty>span {
    color: #1C1C1C;
    font-size: 18px;
    font-weight: 500;
    padding: 0 5px;
}

.paymentMethod .closeItem .add {
    border-radius: 5px;
    width: 172px;
    background: #CECFD1;
    padding: 19px 56px;
    color: #F2FBF9;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.paymentMethod .openItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.paymentMethod .openItem h5 {
    color: #24252E;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.paymentMethod .openItem .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.paymentMethod .wrapper .btns {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.paymentMethod .wrapper .btns button {
    padding: 15px 20px;
    border-radius: 6px;
    border: 1px solid #6D6E74;
    color: #6D6E74;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.paymentMethod .wrapper .btns button.active {
    background: #FFF4ED;
    border: 1px solid #FFF4ED;
}

.paymentMethod .form,
.paymentMethod form {
    width: 100%;
    height: max-content;
}

.paymentMethod form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paymentMethod .cardForm,
.paymentMethod .payPalForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px;
}

.paymentMethod .cardForm .inp {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paymentMethod .form label {
    color: #6D6E74;
    font-size: 18px;
    font-weight: 400;
}

.paymentMethod .form input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #6D6E74;
    padding: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}

.paymentMethod .form input::placeholder {
    color: #6D6E74;
}

.paymentMethod .inpCheck {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.paymentMethod .inpCheck input {
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #6D6E74;
}

.paymentMethod .inpCheck input:checked {
    background-color: #6d6e74;
    background-image: url('../../../public/images/checked.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

.paymentMethod .payPalForm .inp,
.paymentMethod .invoiceForm .inp,
.paymentMethod .googlePayForm .inp {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paymentMethod .confirmBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.paymentMethod .confirmBtn button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    width: max-content;
    padding: 18px 68px;
    border-radius: 10px;
    background: #00A991;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.trendFurnitures {
    width: 100%;
    margin: 70px 0;
    display: flex;
    justify-content: flex-end;
}

.trendFurnitures .containerr {
    width: 90%;
    padding: 50px 0;
    display: flex;
    gap: 10px;

}

.trendFurnitures .content {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trendFurnitures .content h3 {
    color: #0B0D17;
    font-size: 42px;
    font-weight: 600;
}

.trendFurnitures .content p {
    color: #0B0D17;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
}

.trendFurnitures .content .explore {
    border-radius: 10px;
    background: #00A991;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    padding: 10px;
    width: 75%;
    border: none;
    cursor: pointer;
    margin-top: 8px;
}

.trendFurnitures .slider {
    width: 70%;
}

.trendFurnitures .swiper {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.trendFurnitures .wrapper {
    width: 38%;
    border-radius: 12px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    cursor: pointer;
}

.trendFurnitures .wrapper a {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trendFurnitures .wrapper a .img {
    width: 100%;
    height: 270px;
    border-radius: 12px;
    background: #EBEBEB;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
    padding: 16px;
}

.trendFurnitures .wrapper a .img img {
    word-break: 100%;
    height: 100%;
    object-fit: contain;
}

.trendFurnitures .wrapper .titleRating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendFurnitures .wrapper .titleRating .title {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #24252E;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 9px;
}

.trendFurnitures .wrapper .titleRating .stars {
    display: flex;
    align-items: center;
    gap: 2px;
}

.trendFurnitures .wrapper .titleRating .stars img {
    width: 13px;
    height: 13px;
}

.trendFurnitures .wrapper .price {
    color: #B6B6B9;
    font-size: 16px;
    font-weight: 400;
}

.trendFurnitures .swiper-button-next {
    width: 42px;
    height: 42px;
    /* padding: 9px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("../../../public/images/Frame.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}