.discover {
    width: 100%;
    margin-top: 96px;
    height: calc(100vh - 96px);
    background: #F2FBF9;
}

.discover .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    gap: 27px;
}

.discover .content {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.discover .content h3 {
    color: #24252E;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}

.discover .content h3>span {
    color: #FF914D;
}

.discover .content>span {
    color: #3C3D45;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
}

.discover .content a {
    border-radius: 10px;
    background: #00A991;
    padding: 30px 85px;
    width: max-content;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 35px;
    text-align: center;
}

.discover .img {
    width: 48%;
    height: 100%;
}

.discover .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shoppingCart {
    width: 100%;
    margin: 75px 0;
}

.shoppingCart .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.orderSum {
    width: 29%;
    padding: 34px 30px;
    border-radius: 20px;
    background: #F2FBF9;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: max-content;
}

.orderSum .title {
    text-transform: capitalize;
    color: var(--black-90, #24252E);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.orderSum .cartDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.orderSum li,
.orderSum .total {
    color: #6D6E74;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderSum .deliveryBtns {
    width: 100%;
    border-radius: 6px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.orderSum button,
.orderSum .paymentAddress {
    cursor: pointer;
    transition: .3s all ease-in-out;
    border: none;
}

.orderSum .deliveryBtns .btn {
    border-radius: 6px;
    color: #6D6E74;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: transparent;
    padding: 11px 14px;
    width: max-content;
}

.orderSum .deliveryBtns .btn.active,
.orderSum .deliveryBtns .btn:hover {
    color: #FFF;
    background: #3C3D45;
}

.orderSum .paymentAddress {
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    background: #CECFD1;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.orderSum .paymentAddress.active {
    background-color: #00A991;
}

.customerInfo {
    width: 68%;
    display: flex;
    flex-direction: column;
    gap: 29px;
    border: 1px solid red;
}

.customerInfo .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.customerInfo .head h3 {
    color: #24252E;
    font-size: 32px;
    font-weight: 600;
}

.customerInfo .head>span {
    color: #FF914D;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.customerInfo .customer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border-top: 1px solid #E7E7E8;
}

.customerInfo .title {
    color: #3C3D45;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.customerInfo .customer .info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.customerInfo .customer .info .currentInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.customerInfo .customer .currentInfo .context {
    width: 75%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.customerInfo .customer .currentInfo .context .img {
    width: 104px;
    height: 109px;
}

.customerInfo .customer .currentInfo .context .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.customerInfo .customer .currentInfo .context .nameEmail {
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
}

.customerInfo .customer .nameEmail span:first-of-type {
    color: #3C3D45;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.customerInfo .customer .nameEmail span:last-of-type {
    color: #3C3D45;
    font-size: 18px;
    font-weight: 400;
}

.customerInfo .change {
    padding: 19px 50px;
    border-radius: 5px;
    background: #CCEEE9;
    color: #00A991;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.customerInfo .customer .info .changeForm {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.customerInfo .customer .info .changeForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}

.customerInfo .customer .changeForm .inps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.customerInfo .customer .changeForm .inps .inp {
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customerInfo .customer .changeForm .inps .inp label {
    color: #6D6E74;
    font-size: 18px;
    font-weight: 400;
}

.customerInfo .customer .changeForm .inps .inp input {
    border-radius: 6px;
    border: 1px solid #6D6E74;
    padding: 15px 18px;
    outline: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.customerInfo .customer .changeForm .inps .inp input::placeholder {
    color: #6D6E74;
}

.customerInfo .customer .changeForm .submit {
    border-radius: 10px;
    background: #00A991;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: max-content;
    padding: 15px 40px;
}

.hidden{
    display: none !important;
}

.visible{
    display: flex !important;
}