.homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeHero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 96px);
    background-image: url('../../../public/images/home/hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 96px;
    border-radius: 0 0 25px 25px;
}

.homeHero .ellipse {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #FFF;
    width: 208px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 100px 100px 0 0;
}

.homeHero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 0 0 25px 25px;
}

.homeHero .cover {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    z-index: 2;
}

.homeHero .cover h3 {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    padding: 10px;
}

.homeHero .cover p {
    color: #F3F3F3;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
}

.homeHero .cover a {
    display: flex;
    padding: 17px 89px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #00A991;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 30px;
}

.nextBanking {
    width: 100%;
    margin: 120px 0;
    display: flex;
    justify-content: center;
}

.nextBanking>.container {
    width: 90%;
    display: flex;
    justify-content: center;
    height: max-content;
}

.nextBanking .cover {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nextBanking .cover .diagram {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.homeContainer .middleTxt {
    color: #24252E;
    font-size: 42px;
    font-weight: 700;
    line-height: 55.5px;
}

.nextBanking .smallGrey {
    color: #6D6E74;
    font-size: 20px;
    line-height: 32px;
}

.nextBanking .imgDiagram {
    width: 100%;
    height: 312px;
    margin-top: 35px;
    position: relative;
}

.nextBanking .imgDiagram span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.nextBanking .imgDiagram img,
.nextBanking .imgCripto img,
.nextBanking .imgSupport img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nextBanking .imgCripto,
.nextBanking .imgSupport {
    width: 100%;
    height: 300px;
    margin-top: 29px;
    position: relative;
}

.nextBanking .imgCripto span {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.nextBanking .imgSupport span:first-of-type {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 45%;
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    z-index: 2;
}

.nextBanking .imgSupport span:last-of-type {
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    width: 40%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.nextBanking .imgSupport img {
    border-radius: 14px;
}

.nextBanking .imgSupport::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 14px;
    z-index: 1;
}

.nextBanking .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nextBanking .btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nextBanking .btns a,
.startWithUni .btns a {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    transition: 0.3s all ease-in-out;
}

.homeContainer .createAccountBtn {
    border-radius: 10px;
    border: 3px solid #6D6E74;
    color: #6D6E74;
}

.homeContainer .loginBtn {
    border-radius: 10px;
    background: #00A991;
    color: #FFF;
}

.nextBanking .btns a:hover {
    box-shadow: 0px 8px 30px 0px rgba(70, 146, 234, 0.18);
}

.nextBanking .app {
    width: 100%;
    color: #24252E;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.nextBanking .imgPhone {
    width: 100%;
}

.nextBanking .imgPhone img {
    width: 100%;
    object-fit: contain;
}

.homeContainer .choose {
    width: 100%;
    display: flex;
}

.choose>.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.choose .title {
    color: #24252E;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    width: 70%;
}

.homeContainer .title .green {
    color: rgba(0, 169, 145, 0.80);
}

.homeContainer .choose .imgPoster {
    width: 100%;
    height: 490px;
    background-image: url('../../../public/images/home/chooseposter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.homeContainer .imgPoster .content {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.homeContainer .imgPoster span:first-of-type {
    font-size: 36px;
    font-weight: 700;
    line-height: 55.5px;
}

.homeContainer .imgPoster span:nth-of-type(2) {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}

.homeContainer .impact {
    width: 100%;
    height: max-content !important;
    background: rgba(0, 169, 145, 0.1);
    background-image: url('../../../public/images/home/raduqa.png');
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px;
}

.homeContainer .impact>.container {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContainer .impact .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.homeContainer .impact .head .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeContainer .getStart {
    display: flex;
    padding: 20.5px 62px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #00A991;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    border: none;
    transition: .3s all ease-in-out;
}

.homeContainer .getStart:hover {
    box-shadow: 0px 8px 30px 0px rgba(70, 146, 234, 0.18);
}

.homeContainer .impact .rating {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeContainer .impact .rating .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeContainer .impact .rating .bottom {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeContainer .impact .rating .top>div,
.homeContainer .impact .rating .bottom>div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeContainer .impact .rating .top>div span:first-of-type,
.homeContainer .impact .rating .bottom>div span:first-of-type {
    color: #00A991;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}

.homeContainer .impact .rating .top>div span:nth-of-type(2),
.homeContainer .impact .rating .bottom>div span:nth-of-type(2) {
    color: #24252E;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.homeContainer .manageFinannce {
    width: 100%;
    margin: 80px 0;
}

.manageFinannce .containerManage {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.containerManage .head {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.containerManage .head h3 {
    color: #24252E;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 55.5px;
}

.containerManage .head span {
    color: #6D6E74;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 80%;
}

.containerManage .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 120px;
}

.containerManage .card {
    width: 40%;
    padding: 40px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #00A991;
    background: #FFF;
    position: relative;
}

.containerManage .card .img {
    position: absolute;
    border-radius: 82px;
    border-right: 1px solid #00A991;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.containerManage .card .content {
    width: 79%;
    display: flex;
    flex-direction: column;
}

.containerManage .card .content .name {
    color: #24252E;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.containerManage .card .content .role {
    color: #9D9EA2;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.containerManage .card .content .desc {
    color: #6D6E74;
    font-size: 18px;
    font-weight: 400;
    margin-top: 14px;
}

.homeContainer .startWithUni {
    width: 100%;
    position: relative;
}

.homeContainer .startWithUni::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 50%;
    top: -10%;
    right: 0;
    background-image: url('../../../public/images/startWithUni/bigVector1.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.homeContainer .startWithUni::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 50%;
    top: 20%;
    left: 0;
    background-image: url('../../../public/images/startWithUni/bigVertor2.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}


.homeContainer .startWithUni .containerStart {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.homeContainer .startWithUni .containerStart::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 50%;
    top: 30%;
    left: -10%;
    background-image: url('../../../public/images/startWithUni/bigVector3.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.homeContainer .startWithUni .containerStart::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 50%;
    bottom: -10%;
    right: -5%;
    background-image: url('../../../public/images/startWithUni/bigVector4.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.startWithUni .containerStart .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startWithUni .head>div {
    width: 45%;
}

.startWithUni .head .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.startWithUni .head .left h3 {
    color: #24252E;
    font-size: 42px;
    font-weight: 700;
    line-height: 55.5px;
}


.startWithUni .head .left p {
    color: #6D6E74;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.startWithUni .head .btns {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
}

.startWithUni .containerStart>.contentUni {
    width: 100%;
    display: flex;
    gap: 90px;
    flex-direction: column;
}

.startWithUni .contentUni .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
}

.startWithUni .contentUni .box:nth-of-type(odd):after {
    content: '';
    width: 50%;
    height: 30%;
    position: absolute;
    background-image: url('../../../public/images/startWithUni/Vector1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 80%);
}

.startWithUni .contentUni .box:nth-of-type(even):not(:last-of-type):after {
    content: '';
    width: 50%;
    height: 30%;
    position: absolute;
    background-image: url('../../../public/images/startWithUni/vector2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 80%);
}

.startWithUni .contentUni .box>div {
    width: 47%;
    height: 300px;
    border-radius: 10px;
}

.startWithUni .contentUni .box .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.startWithUni .contentUni .box .desc {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
}

.startWithUni .contentUni .box span {
    color: #24252E;
    font-size: 32px;
    font-weight: 600;
}

.startWithUni .contentUni .box p {
    color: #6D6E74;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.createAccount {
    width: 100%;
}

.createAccount .containerAcc {
    width: 90%;
    margin: 0 auto;
    padding: 67px 100px;
    border-radius: 10px;
    background: #00A991;
}

.createAccount .cover {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.createAccount .cover h4 {
    color: #FFF;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 55.5px;
}

.createAccount .cover a {
    padding: 10px 30px;
    color: #24252E;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    padding: 30px 89px;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
}

.slider .swiper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeContainer .slider {
    width: 100%;
}

.slider .containerSlider {
    width: 90%;
    margin: 0 auto;
}

.slider .cover {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.slider .cover .img {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .cover .img img {
    border-radius: 400px;
    border: 1px solid #B3E5DE;
    width: 100%;
    object-fit: cover;
}

.slider .cover .content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.slider .cover .content .title {
    color: #24252E;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    margin-bottom: 20px;
}


.slider .cover .content p {
    color: #6D6E74;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.slider .cover .content .name {
    margin-top: 20px;
    color: #24252E;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.slider .cover .content .role {
    color: #B6B6B9;
    font-size: 16px;
    font-weight: 400;
}

.slider .swiper-navigation {
    width: 20px;
    height: 20px;
    background-color: #24252E;
}

.slider .swiper-button-prev,
.slider .swiper-button-next {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
}

.slider .swiper-button-prev {
    border: 1px solid #CECFD1;
}

.slider .swiper-button-prev::after {
    color: transparent;
    background-image: url('../../../public/images/home/prev.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider .swiper-button-next {
    background: #00A991;
}

.slider .swiper-button-next::after {
    color: transparent;
    background-image: url('../../../public/images/home/next.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider .swiper-pagination-bullet {
    border: 3px solid #80d4c8;
    width: 16px;
    height: 16px;
    background-color: #fff;

}

.slider .swiper-pagination-bullet-active {
    width: 32px;
    height: 16px;
    border-radius: 15px;
    background-color: #00A991 !important;
    border: 1px solid #00A991;
}

.homeContainer .questionAccourdion {
    width: 100%;
    margin: 90px 0;
}

.questionAccourdion .containerQuestions {
    width: 90%;
    margin: 0 auto;
}

.questionAccourdion .containerQuestions .cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionAccourdion .cover>h3 {
    width: 80%;
    text-align: center;
}

.questionAccourdion .filterBtns {
    width: 50%;
    padding: 0 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionAccourdion .filterBtns .btn {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    width: max-content;
    cursor: pointer;

}

.questionAccourdion .filterBtns .btn.active span,
.questionAccourdion .filterBtns .btn.active p {
    color: #24252E;
}

.questionAccourdion .filterBtns .btn span,
.questionAccourdion .filterBtns .btn p {
    color: #85868B;
    font-size: 32px;
    font-weight: 600;
}

.questionAccourdion .filterBtns .btn.active span.line {
    background-color: #0B0D17;
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

.questionAccourdion .filterBtns .btn span.line {
    background-color: transparent;
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

.questionAccourdion .cover>p {
    color: #6D6E74;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 24px;
    width: 50%;
}

.questionAccourdion .cover .accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.questionAccourdion .accordionItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    position: relative;
    border-bottom: 1px solid #9D9EA2;
}

.questionAccourdion .accordionItem.active {
    border-radius: 10px;
    border: 1px solid #9D9EA2;
    background: #FFF;
}

.questionAccourdion .accordionItem.active img {
    transform: rotate(0deg);
}

.questionAccourdion .accordionItem img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 30px;
    right: 20px;
    transform: rotate(180deg);
    transition: .3s all ease-in-out;
}

.questionAccourdion .accordionItem span {
    width: 90%;
    color: #6D6E74;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;
}

.questionAccourdion .accordionItem p {
    width: 100%;
    color: #9D9EA2;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    height: 0px;
    transition: 1s all ease-in-out;
    overflow: hidden;
    overflow-y: auto;
}

.questionAccourdion .accordionItem.active p {
    height: max-content;
    transition: .3s all ease-in-out;
}

.homeContainer .articles {
    width: 100%;
    margin: 60px 0;
}

.homeContainer .articles .containerArticle {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.homeContainer .articles .containerArticle .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.homeContainer .articles .head .txt {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeContainer .articles .head .txt {
    color: #6D6E74;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.homeContainer .articles .btns {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.homeContainer .articles .btns a {
    cursor: pointer;
}

.homeContainer .articles .btns a:first-of-type {
    border-radius: 10px;
    border: 3px solid #6D6E74;
    color: #6D6E74;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 20px;
}

.homeContainer .articleItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.homeContainer .articleItem {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homeContainer .articleItem .img {
    width: 100%;
}

.homeContainer .articleItem .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeContainer .articleItem .context {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeContainer .articleItem .context .title {
    color: #24252E;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.homeContainer .articleItem .context a {
    color: #6D6E74;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 13px;
    align-items: center;
    transition: .3s all ease-in-out;
}

.homeContainer .articleItem .context a:hover{
    color: #00A991;
}