.mainDetails {
    width: 100%;
    margin-top: 100px;
}

.mainDetails .container {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mainDetails .desktopMode{
    width: 100%;
}

.mainDetails .mobileMode{
    display: none;
}

.mainDetails .linksCover {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.mainDetails .linksCover>a {
    color: #24252E;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.mainDetails .linksCover>a img {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
}

.mainDetails .links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mainDetails .links a {
    color: #6D6E74;
    font-size: 16px;
    font-weight: 400;
    transition: .3s all ease-in-out;
}

.mainDetails .links a:hover {
    color: #24252E;
}

.mainDetails .links a.active {
    font-weight: 500;
    color: #24252E;
}

.mainDetails .links a.active::first-letter {
    text-transform: uppercase;
}

.mainDetails .links span {
    display: flex;
    align-items: center;
}

.mainDetails .links img {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}

.mainDetails .desktopMode .wrapper {
    width: 100%;
    display: flex;
    gap: 46px;
    justify-content: center;
    align-items: flex-start;
}

.mainDetails .desktopMode .wrapper .imgDetails {
    width: 40%;
    position: relative;
}

.mainDetails .desktopMode .wrapper .imgDetails .nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 56px;
    height: 56px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDetails .desktopMode .wrapper .imgDetails .nextBtn img {
    width: 20px;
    height: 20px;
}

.mainDetails .desktopMode .wrapper .imgDetails .imgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.mainDetails .desktopMode .wrapper .mainImg {
    width: 100%;
    height: 480px;
}

.mainDetails .desktopMode .wrapper .mainImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainDetails .desktopMode .wrapper .smallImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.mainDetails .desktopMode .wrapper .smallImgs >.img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid #6d6e7423;
    cursor: pointer;
}

.mainDetails .desktopMode .wrapper .smallImgs> .img.active,
.mainDetails .mobileMode .canChoose .img.active {
    border: 2px solid #00A991;
}

.mainDetails .desktopMode .wrapper .smallImgs >.img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.mainDetails .desktopMode .descDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.mainDetails .desktopMode .descDetails .fullTitle {
    color: #00A991;
    font-size: 32px;
    font-weight: 600;
}

.mainDetails .desktopMode .descDetails .rating {
    color: rgba(24, 27, 49, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.mainDetails .desktopMode .descDetails .price {
    color: #24252E;
    text-align: left;
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
}

.mainDetails .desktopMode .descDetails .desc {
    margin-top: 20px;
    color: #3C3D45;
    font-size: 16px;
    font-weight: 400;
}

.mainDetails .desktopMode .descDetails .chooseColor {
    margin-top: 10px;
    display: flex;
    gap: 30px;
}

.mainDetails .desktopMode .descDetails .chooseColor .currentColor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.mainDetails .desktopMode .descDetails .currentColor .img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    border: 2px solid #00A991;
}

.mainDetails .desktopMode .descDetails .currentColor .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.mainDetails .desktopMode .descDetails .currentColor span {
    color: #24252E;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.mainDetails .desktopMode .descDetails .chooseColor .canChoose {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mainDetails .desktopMode .descDetails .canChoose>span {
    color: #24252E;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.mainDetails .desktopMode .descDetails .canChoose .colors {
    display: flex;
    align-items: center;
    gap: 30px;
}

.mainDetails .desktopMode .descDetails .colors .img {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.mainDetails .desktopMode .descDetails .colors .img img {
    width: 120px;
    height: 120px;
    border: 2px solid #6d6e746e;
    border-radius: 5px;
}

.mainDetails .desktopMode .descDetails .colors .img span {
    color: #24252E;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.mainDetails .desktopMode .descDetails .qtyAndAddToCart {
    display: flex;
    align-items: center;
    gap: 30px;
}

.mainDetails .desktopMode .descDetails .quantity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mainDetails .desktopMode .descDetails .quantity>span {
    color: #24252E;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
}

.mainDetails .desktopMode .descDetails .selectQty {
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #6D6E74;
    background: #FFF;
}

.mainDetails .desktopMode .descDetails .selectQty>span {
    width: 30px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all ease-in-out;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.mainDetails .desktopMode .descDetails .selectQty>span:hover:not(:nth-of-type(2)) {
    background-color: #6d6e742a;
    cursor: pointer;
}

.mainDetails .desktopMode .descDetails .addToCart {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    border-radius: 6px;
    background: #00A991;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.mainDetails .desktopMode .descDetails .addToCart img {
    width: 20px;
    height: 20px;
}

.mainDetails .desktopMode .descDetails .garranty {
    text-align: end;
    color: #3C3D45;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 40px;
}

.mainDetails .desktopMode .outOfStock {
    color: red;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    text-align: end;
}

.mobileMode .outOfStock{
    color: red;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

.mainDetails .mobileMode .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
}

.mainDetails .mobileMode .imgDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mainDetails .mobileMode .chooseColor {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
}

.mainDetails .mobileMode .canChoose {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.mainDetails .mobileMode .canChoose .img {
    width: 100%;
    height: 110px;
    border-radius: 2px;
    border: 1px solid #E7E7E8;
    background: #FFF;
}

.mainDetails .mobileMode .canChoose .img img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mainDetails .mobileMode .canChoose .colorName {
    color: #24252E;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.mainDetails .mobileMode .mainImg {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.mainDetails .mobileMode .mainImg .bigImg {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.mainDetails .mobileMode .mainImg .chosedColor {
    color: #24252E;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
}

.mainDetails .mobileMode .mainImg .bigImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mainDetails .mobileMode .mainImg .smallImgs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.mainDetails .mobileMode .mainImg .smallImgs .img {
    width: 45px;
    height: 45px;
    border: 1px solid #E7E7E8;
    border-radius: 2px;
}

.mainDetails .mobileMode .mainImg .smallImgs .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainDetails .mobileMode .descDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.mainDetails .mobileMode .fullTitle {
    color: #00A991;
    font-size: 18px;
    font-weight: 500;
}

.mainDetails .mobileMode .rating {
    color: rgba(24, 27, 49, 0.50);
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 15px;
}

.mainDetails .mobileMode .price {
    color: #24252E;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    margin-top: 10px;
}

.mainDetails .mobileMode .garranty {
    color: #3C3D45;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
}

.mainDetails .mobileMode .desc {
    color: #3C3D45;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 9px;
}

.mainDetails .mobileMode .qtyAndAddToCart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.mainDetails .mobileMode .qtyAndAddToCart .quantity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.mainDetails .mobileMode .qtyAndAddToCart .quantity span {
    color: #24252E;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

.mainDetails .mobileMode .qtyAndAddToCart .selectQty {
    border-radius: 2px;
    border: 1px solid #6D6E74;
    background: #FFF;
    display: flex;
    align-items: center;
}

.mainDetails .mobileMode .qtyAndAddToCart .selectQty>span {
    width: 12px;
    height: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
}

.mainDetails .mobileMode .addToCart {
    padding: 10px 20px;
    border-radius: 4px;
    background: #00A991;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #FFF;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}

.mainDetails .mobileMode .addToCart img{
    width: 15px;
    height: 15px;
}

.overview {
    margin-top: 70px;
    width: 100%;
}

.overview .container {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 20px;
    border-top: 1px solid #9d9ea26b;
    border-bottom: 1px solid #9d9ea26b;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.overview .container .topSection {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.overview .container .topSection .txt {
    width: 39%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.overview .container .txt h3,
.overview .container .video>div>span {
    color: #3C3D45;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.overview .container .txt .desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.overview .container .txt .desc span {
    color: #3C3D45;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.overview .container .txt .desc p {
    color: #6D6E74;
    font-size: 16px;
    font-weight: 400;
}

.overview .container .txt .characteristics {
    width: 100%;
}

.overview .container .txt .characteristics ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.overview .container .txt .characteristics li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.overview .container .txt .characteristics li .img {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview .container .txt .characteristics li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overview .container .txt .characteristics li span {
    color: #3C3D45;
    font-size: 16px;
    font-weight: 400;
}

.overview .container .video {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overview .container .video .cover {
    width: 100%;
    height: 450px;
    position: relative;
}

.overview .container .video .cover .play {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    cursor: pointer;
}

.hidden {
    display: none;
}

.overview .container .video .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../public/images/productDetails/product1/mainImg.png');
}

.overview .container .video>div:first-of-type {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.overview .bottomSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.overview .bottomSection .orderBtn {
    border-radius: 10px;
    background: #FF914D;
    padding: 25px 70px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.overview .bottomSection .questions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview .bottomSection .questions .left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.overview .bottomSection .questions .left span:first-of-type {
    color: #3C3D45;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.overview .bottomSection .questions .left span:last-of-type {
    color: #54565D;
    font-size: 16px;
    font-weight: 400;
}

.overview .bottomSection .questions .messegeBtn {
    background: #00A991;
    border-radius: 3px;
    padding: 15px 23px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.overview .bottomSection .questions .messegeBtn img {
    width: 22px;
    height: 22px;
}

.similarProducts {
    width: 100%;
    margin: 70px 0;
}

.similarProducts .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: max-content;
}

.similarProducts .container .head {
    color: #3C3D45;
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    text-transform: capitalize;
}

.similarProducts .container .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.similarProducts .container .product {
    width: 23%;
    /* height: max-content !important; */
    padding: 10px;
    transition: .3s all ease-in-out;
}

.similarProducts .container .product:hover {
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.similarProducts .container .product a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.similarProducts .product .img {
    width: 100%;
    height: 90%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.similarProducts .product .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.similarProducts .product .review {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #B6B6B9;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 20px;
}

.similarProducts .product .title {
    color: #24252E;
    font-size: 18px;
    font-weight: 400;
}

.similarProducts .product .prices {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px
}

.similarProducts .product .prices span:first-of-type {
    color: #B6B6B9;
}

.similarProducts .product .prices span:last-of-type {
    color: #EC3737;
}


.similarProducts .pagination {
    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.similarProducts .pagination .nextBtn,
.similarProducts .pagination .prevBtn {
    border-radius: 4px;
    background: #CCEEE9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}



.similarProducts .pagination .pages {
    display: flex;
    align-items: center;
    gap: 5px;

}

.similarProducts .pagination .pages>button {
    padding: 16px;
    color: #B2B2B2;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.similarProducts .pagination .pages button.active {
    color: #fff;
    background-color: #00A991;
    padding: 16px 26px;
}

.similarProducts .noSimilar {
    font-size: 22px;
    line-height: 22px;
    color: #EC3737;
    font-weight: 700;
}